<div class="container">
  <form action="/answer" class="action">
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
      <input type="text" class="form-control" name="question" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
  </form>
</div>
